<div class="text-center jumbotron">
    <h1 class="white-page-title">About the Business Den</h1>
</div>

<div class="well profile-black-white">
    <h3>Business Den is a community site where Entrepreneuers, 
        Small Business owners can meet potential Investors in order 
        to develop your business or ideas further.</h3> <br />
    <h3>We offer 2 membership plans - A free Plan where you can join and view all the 
        membership profiles and with a £9 monthly subscription. However, you can also 
        join our Premium plan and view all membership details including contact details.</h3> <br />
    <h3>Why not join us and see your business grow or idea become a reality.</h3> <br />
    <h3>Looking forward to seeing you on board!!</h3> <br />
</div>