<body class="homebody">
    <div class="text-center jumbotron painter">
        <h1 class="white-page-title">Home Page.</h1>
        <h3 class="white">A membership site where small businesses and entrepreuners can meet Potential Investors</h3>
    </div>
</body>
