<body class="homebody">
  <div class="text-center jumbotron">
    <h1 class="white-page-title">Business Den</h1>
    <h3 class="white-page-title">A membership site where small businesses and entrepreuners can meet Potential Investors</h3>
    <br /> <br />
    <% if user_signed_in? %>
      <p align="center"><%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: "btn btn-default btn-lg copper" if user_signed_in? %></p>
    <% else %>
      <p align="center"><%= link_to "Create an Account", plan_path, class: "btn btn-default btn-lg copper" %></p>
    <% end %>
  </div>
        
</body>
