<body class="homebody">
    <div class="text-center jumbotron">
        <h1 class="white-page-title">Create Your Account</h1>
        <h3 class="white-page-title">Select the account you would like to create from the options below</h3>
    </div>
    
    <div class="home-signup-links">
      <div class="row">
        <div class="col-md-6">
          <div class="well welcome">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free and get basic access to the community.</h4>
            <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-default silver btn-lg btn-block' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well welcome">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
            <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-default gold btn-lg btn-block' %>
          </div>
        </div>
      </div>
    </div>
        
</body>