<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p class="mail-header">You have received a message from the site's contact form, from
    <%= "#{ @name }, #{ @email }." %></p>
    <p class="mail-message"><%= @body %></p>
  </body>
</html>
