@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* ------------------GENERAL -----------------------------*/
.white {
    color: #fff;
}

/* -----------------FLASH WARNINGS ----------------------*/
// Error Messages
.panel-title {
    font-weight: bold;
}
.panel-body, li {
    list-style-type: none;
}


 /* -----------------HOME PAGE--------------------*/
.jumbotron {
    background-image: asset-url("cover.png");
    background-size: cover;
    height: 400px;
    border: 8px solid black;
    border-radius: 25px !important;
}
.body, .homebody {
    background-color: black;
}
.white-page-title {
    color: #fff !important;
}


/*---------------------NAV BAR----------------------------*/

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
  color: #cd7f32;
  &:hover {
      color: white;
      opacity: 0.75;
  }
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    //font-weight: 500;
    color: #cd7f32 !important;
}

// Toggle bar
.navbar .navbar-toggle .icon-bar {
    background-color: #cd7f32 !important;
}

.copper {
    background: #cd7f32 ;
    color: black !important;
    border: 2px solid black;
}

.copper:hover {
    background: #101010 ;
    color: #cd7f32 !important;
    border: 2px solid #cd7f32;
}




/* ---------------------ABOUT PAGE-------------------------*/

.well, .about {
     border: 8px solid black;
     border-radius: 25px;
}

/*-----------------------DEVISE ---------------------------*/
// Alerts

.alert, .alert-alert {
    background-color:#f8d7da;
    color:#721c24;
}