@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 /* -----------------HOME PAGE--------------------*/
.jumbotron {
    background-image: asset-url("cover.png");
    background-size: cover;
    height: 400px;
}

.jumbotron.painter {
     background-color: #ffffff;
     color: #fff;
    border: 5px solid black;
    border-radius: 25px !important ;
}


/*---------------------NAV BAR----------------------------*/

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
  color: white;
  &:hover {
      color: white;
      opacity: 0.75;
  }
}


 